.form-main {
  background-color: var(--main-background-color);
  padding: var(--main-padding);
  height: 100vh;
}

.form-main-card {
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
}
